<footer id="footer" class="footer">
  <div class="container">
      <div class="row">
          <div class="main_footer text-center">
              <div class="logo_footer text-center">
                  <i class="fa fa-gg"></i>
                  <p> S L O V <i class="fa fa-bars"></i> N</p>
              </div>
              <ul class="social_footer">
                  <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-dribbble"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                  <li><a href="#"><span><i class="fa fa-vimeo"></i></span></a></li>
              </ul>
              <small>&copy; COPYRIGHT SLOVEN WORDPRESS THEME</small>
          </div>
      </div>
  </div>
</footer>
