<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home"><i class="fa fa-gg"></i> S L O V <i class="fa fa-bars"></i> N</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#home">HOME</a></li>
        <li><a class="page-scroll" href="#about">ABOUT</a></li>
        <li><a class="page-scroll" href="#team">TEAM</a></li>
        <li><a class="page-scroll" href="#services">SERVICES</a></li>
        <li><a class="page-scroll" href="#work">WORK</a></li>
        <li><a class="page-scroll" href="#blog">BLOG</a></li>
        <li><a class="page-scroll" href="#client">CLIENT</a></li>
        <li><a class="page-scroll" href="#contact">CONTACT</a></li>
      </ul>
    </div><!-- navbar-collapse -->
  </div><!-- container-fluid -->
</nav><!-- navbar -->
