<section id="contact" class="contact">
  <div class="container">
      <div class="row">
          <div class="main_contact text-center">

              <div class="head_title text-center">
                  <h2>Get In Touch</h2>
                  <p>Donec Sollicitudin Molestie Malesuada</p>
                  <hr/>
              </div>

                  <p class="main_contact_detail text-center">Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed<br> sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed<br> magna dictum porta. Nulla porttitor accumsan tincidunt</p>

              <div class="main_contact_info text-center">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <span data-icon="&#xe010;"></span>
                          <br>
                      <b>rahmandikahaekal31@gmail.com</b>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <span data-icon="&#xe01d;"></span>
                          <br>
                      <b>100 Hollywood blvd, los angeles, ca - 90623</b>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <span data-icon="&#xe090;"></span>
                          <br>
                      <b>+62 896 8004 2687</b>
                  </div>
              </div>

              <div class="main_contact_form">
                  <div class="inner contact">
                      <div class="contact-form">

                          <form id="contact-us" method="post" action="#">
                              <div class="col-md-6 wow animated slideInLeft" data-wow-delay=".5s">

                                  <input type="text" name="name" id="name" required="required" class="form" placeholder="Name*" />

                                  <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email*" />

                                  <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject*" />
                              </div>

                              <div class="col-md-6 wow animated slideInRight" data-wow-delay=".5s">
                                  <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                              </div>
                          </form>

                      </div><!-- End Contact Form Area -->
                  </div><!-- End Inner -->
              </div>
              <a href="#" class="btn-sloven">SUBMIT</a>

          </div>
      </div>
  </div>
</section><!-- End contact section -->
