<section id="work" class="work">
  <div class="container">
      <div class="row">
          <div class="head_title text-center">
              <i class="fa fa-caret-down fa-4x"></i>
              <h2>WE DO AWESOME WORK</h2>
              <p>Vivamus magna justo lanicia eget consectetur sed convallis at tellusvamus<br> magna lanicia eget consectetur</p>
          </div>
      </div>
  </div>
      <div class="work_nav">
          <ul>
              <li class="active" data-filter="*">All</li>
              <li data-filter=".broch">Brochures</li>
              <li data-filter=".mobile">Mobile</li>
              <li data-filter=".photo">Photography</li>
              <li data-filter=".video">Video</li>
              <li data-filter=".web">Web</li>
          </ul>
      </div>
      <div class="main_work">
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover mobile photo video">
              <a href="#">
                  <img src="assets/images/1.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover broch mobile">
              <a href="#">
                  <img src="assets/images/2.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover broch photo video">
              <a href="#">
                  <img src="assets/images/3.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover mobile photo">
              <a href="#">
                  <img src="assets/images/4.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover broch video">
              <a href="#">
                  <img src="assets/images/5.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover mobile video">
              <a href="#">
                  <img src="assets/images/6.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover broch mobile">
              <a href="#">
                  <img src="assets/images/7.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 item item_hover web mobile photo">
              <a href="#">
                  <img src="assets/images/8.jpg" alt="">
                  <div class="work_title_content">
                      <h3>TITLE GOES HERE</h3>
                      <span>Development</span>
                  </div>
              </a>
          </div>
      </div>
</section><!-- End work section -->
