/* ---------- Reset CSS ---------- */
html,
body {
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
    width: 100%;
    padding: 0;
    font-family: 'Montserrat','Roboto',cursive;
    font-weight: 300;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both }
.clearfix { *zoom: 1; }

*,
*:before,
*:after {
    -webkitbox-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section { padding: 80px 0px}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}

.bg_overlay {
    background:rgba(0, 0, 0, .6);
    width:100%;
    top:0;
    left:0;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.p-tb200 {
    padding: 200px 0px;
}

/* LINKS AND BUTTONS */
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

.btn-sloven {
    background: #f1c40f none repeat scroll;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.btn-sloven:hover,
.btn-sloven:focus {
    background: #222;
    border: 1px solid #222;
    color: #fff;
}

h1 {
    font-family: 'Montserrat',cursive;
    font-size: 6rem;
    line-height: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 2rem;
    text-transform: uppercase;
}

.head_title p {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    word-spacing: 2.5px;
}

hr {
    width: 10%;
    border: 1px solid #eee;
}

ul, 
ol {
    list-style: none;
    padding: 0;
}

/* ---------- Navbar ---------- */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition:all 0.7s ease 0s;
    padding: 25px 0px 15px 0px;
    -webkit-transition:all 0.7s ease 0s;
    -moz-transition:all 0.7s ease 0s;
    -o-transition:all 0.7s ease 0s;
    -ms-transition:all 0.7s ease 0s;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
}


.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #f1c40f !important;
    background-color: transparent;
}

/* ---------- Slider ---------- */

.home {
    background: url(../images/127H.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main_home .main_home_content i {
    font-size: 8rem;
    line-height: 1.2em;
}

.main_home .main_home_content h1 {
    font-weight: bold;
    line-height: 6rem;
    margin: 0 0 60px 0;
    color: #fff;
}

.main_home .main_home_content p {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #fff;
}

.main_home_content {
    max-height: 100%;
    padding: 350px 0 250px 0px;
    margin: 0 auto;
    color: #fff;
}

/* ---------- About ---------- */
.main_about hr { border-color: #333; }
.main_about_content p {
    font-family: 'Montserrat',cursive;
    font-size: 14px;
    padding: 40px 20px;
}

.service {
    border: 2px solid #f1c40f;
    height: 300px;
    margin: 20px 0;
    padding: 20px;
    /* -webkit-transition: all 0.4s ease 0s; */
    /* transition: all 0.4s ease 0s; */
}

.icon {
    background: #fff none repeat scroll 0 0;
    border-radius: 100px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: #333;
    display: inline-block;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    top: 50px;
    left: 80px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 60px;
}

.service:hover {
    background:#f1c40f;
    border: 2px solid #f1c40f;
}

.service:hover .icon {
    top: -10px;
    color: #f1c40f;
}

.service h4 {
    color: #f1c40f;
    text-align: center;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    top: 90px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.service:hover h4 {
    color: #fff;
    top: 0px;
    margin-bottom: 15px;
}

.service p {
    text-align: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.service:hover p {
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* author */
.author {
    background: #f1f1f1 scroll;
}

.author img {
    display: inline-block;
    padding-top: 45px;
}

.author .head_title p {
    text-transform: inherit;
}

/* team */
.team {
    background: #ffffff scroll;
}

.team .head_title hr {
    border-color: #333;
}

.single_team {
    margin-top: 30px;
    transition: all 0.3s ease 0s;
}

.single_team:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.single_team h3 {
    color: #f1c40f;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 15px;
	text-transform: uppercase;
}

.single_team p {
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.img_wrap {
    position: relative;
}

.img_wrap img {
    width: 100%;
}

.social_link {
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(0);
}

.img_wrap:hover .social_link {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.social_table {
    display: table;
    height: 100%;
    width: 100%;
}

.social_table ul {
    list-style: none;
    display: table-cell;
    list-style: outside none none;
    padding: 0;
    vertical-align: middle;
}

.social_table ul a {
    background: #f1c40f none repeat scroll 0 0;
    border: 1px solid #f1c40f;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s ease 0s;
    width: 40px;
}

.social_table ul a:hover {
    background: #fff none repeat scroll 0 0;
    color: #333;
    border: #fff;
}

/* skill */
.skill {
    background: url(../images/bg_skill.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    color: #fff;
}
.main_skill .head_title span {
    padding-top: 40px;
}
.main_skill .head_title p {
    text-transform: inherit;
}
.main_skill_area {
    height: 250px;
    margin: 50px 0px 70px 0px;
}

.main_skill_area canvas {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
}

.main_skill_area span {
    font-family: 'Roboto',sans-serif;
    color: #fff;
    display: block;
    line-height: 220px;
    text-align: center;
    width: 229px;
    font-size: 40px;
    font-weight: 100;
}

.chart { position: relative;left: 20px }


/* services */
.services { background: #f1f1f1 scroll }
.services .head_title hr { border-color: #333}
.services .services_content { padding: 45px 20px;}
.services_content h6 {
    font-family: 'Montserrat',cursive;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 13px;
}

.services_content h6 span { 
    font-size: 35px;
    position: relative;
    top: 7px;
    padding-right: 5px;
}

.services_content p {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    word-spacing: 5px;
}

/* work */
#work.work { padding-bottom: 0px;}
.work .head_title p { text-transform: inherit }

.work_nav {
    text-align: center;
    padding-bottom: 80px;
}

.work_nav ul li {
    text-transform: uppercase;
    list-style: none;
    margin: 0px 2px;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #f1cf0f;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_nav ul li:hover {
    background: #000000;
    color: #f1c40f;
}

.work_nav .active {
    background: #000000;
    color: #f1c40f;
}

.main_work,
.main_work .item {
    padding: 0;
}

.main_work .work_title_content {
    text-align: center;
    background: rgba(0, 0, 0, 0.69);
    color: #f1c40f;
    padding: 100px 35px;
    margin: 10px 15px;
    position: absolute;
    top: 5px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.item_hover:hover .work_title_content {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
}   

.work_title_content h3 {
    transform: translateY(-20px);
    transition: all 0.6s ease-in-out 0s;
}

.item_hover:hover h3 {
    transform: translateY(5px);
    transition: all 0.3s ease-in-out 0s;
}

.work_title_content span {
    transform: translateY(-20px);
    transition: all 0.6s ease-in-out 0s;
}

.item_hover:hover span {
    transform: translateY(5px);
    transition: all 0.3s ease-in-out 0s;
}

/* counter or waypoints */
.waypoint {
    background: #f1c40f;
    color: #2c2b2b;
}
.waypoint .row { padding: 60px 0px }

.waypoint .main_counter_area .content_counter h2 {
    font-weight: bold;
    font-size: 34px;
    padding-bottom: 4px;
}
.waypoint .main_counter_area .content_counter p {
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.main_counter_area [data-icon]:before {
    font-family: 'ElegantIcons';
    content: attr(data-icon);
    speak: none;
    padding-right: 10px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
/* blog */ 
.blog .head_title hr { border-color: #333 }

.single_blog_post {
    padding: 10px;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.date_blog {
    background: #fff;
    position: absolute;
    border: 1px solid #000;
    padding: 9px 5px;
    width: 70px;
    height: 90px;
    z-index: 1;
}

.date_blog p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.date_blog p:nth-child(1) {
    font-size: 32px;
    position: relative;
    top: -5px;
}

.date_blog hr {
    border-color: #000;
    width: 45px;
    position: relative;
    top: -28px;
}

.date_blog p:nth-child(3) {
    font-size: 22px;
    position: relative;
    top: -40px;
}

.single_blog_image {
    transition: 1s;
    opacity: 0.7;1
}

.single_blog_image:hover {
    opacity: 1;
}

.single_blog_title {
    text-transform: uppercase;
    margin: 20px 0px;
    margin-top: 30px;
}

.single_blog_title h4 {
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #333;
    letter-spacing: 1px;
    cursor: pointer;
}

.single_blog_title p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #333;
    margin-bottom: 0;
}

.single_blog_content {
    padding: 10px 0px 30px 0px;
}

.single_blog_title ul li {
    list-style: none;
    display: inline-block;
}

.blog_readmore .btn-sloven {
    font-size: 12px;
    font-weight: normal;
    padding: 10px 15px;
}

/* video */
.video-popup-section {
    text-align:center;
    position:relative;
    z-index:1;
    background-size:cover;
    width:100%;
    background-image:url(../images/bg_video.jpg);
    background-position:center center;
    background-repeat:no-repeat;
}

.video-popup-section .container {
    color: #fff;
    padding: 11em 0px;
}
.video-popup-btn { display:inline-block }


/* client */
.client .main_client p {
    font-size: 16px;
    text-transform: inherit;
}

.pricing_table { padding-top: 80px }

.pricing_table .columns {
    float: left;
    padding: 9px;
}

.pricing_table .price {
    list-style-type: none;
    border: 1px solid #eee;
    border-top: 5px solid #000;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s ease 0s;
    -moz-transition: 0.3s ease 0s;
    -ms-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
}

.pricing_table .price:hover { box-shadow: 0 8px 12px 0 #fc1 }
.pricing_table .columns:nth-child(2) .price:hover { box-shadow: 0 8px 12px 0 #000 }

.pricing_table .price .header {
    font-size: 14px;
    font-weight: bold;
    padding: 30px 0px;
    text-transform: uppercase;
}

.pricing_table .columns:nth-child(2) .price {
    position: relative;
    top: -30px;
    box-shadow: 0 8px 12px 0 #f1c40c;
}

.pricing_table .columns:nth-child(2) .price .header {
    padding: 35px 0px 0px 0px;
}

.pricing_table .columns:nth-child(2) .price .child_header {
    font-family: fantasy;
    padding-top: 0px;
    padding-bottom: 34px;
}

.pricing_table .price li {
    padding: 20px;
    text-align: center;
}

.pricing_table .price .grey {
    font-family: 'Roboto',sans-serif;
    font-size: 56px; 
    padding: 14px 0px;
    background-color: #e8e8e8;
}

.pricing_table .price .orange {
    font-family: 'Roboto',sans-serif;
    padding: 10px 0px;
    background-color: #f1c40c;
}

.pricing_table .price .grey sup {
    font-size: 30px;
    position: relative;
    top: -30px;
}

.pricing_table .price .grey sub {
    font-size: 17px;
    position: relative;
    left: -10px;
    text-transform: uppercase;
}

.pricing_table .price li:nth-child(3) { padding-top: 20px }

.pricing_table .price li:last-child {
    margin: 30px 0px 30px 0px;
}
.pricing_table .price li a {
    font-family: 'Roboto',sans-serif;
    border: 2px solid #000;
    border-radius: 50px;
    color: #000;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_table .price li a:hover {
    background-color: #f1c40c;
    border-color: #f1c40c;
    color: #fff;
}

.pricing_table .columns:nth-child(2) .price li a {
    background-color: #f1c40c;
    border: 2px solid #f1c40c;
    color: #fff;
}

.pricing_table .columns:nth-child(2) .price li a:hover {
    background-color: #ffffff;
    border: 2px solid #000;
    color: #000;
}

/* testimonials */
.testimonials {
    background: url(../images/bg_testimonial.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    color: #fff;
}

#testi-carousel { padding: 90px 0px 70px 0px }
#testi-carousel img {
    border: 3px solid #eee;
    border-radius: 50%;
    display: inline-block;
    width: 130px;
    margin-bottom: 15px;
    transition: all 0.6s ease-in 0s;
    transform: scale(1);
}

#testi-carousel .title_content h3 {
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

#testi-carousel .title_content p {
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    word-spacing: 2px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

#testi-carousel .title_content p:last-child { font-family: sans-serif }

#testi-carousel .owl-page.active span { background-color: #fff }

#testi-carousel .text-center:hover img {
    transform: translateY(13px) scale(1.2);
}

/* contact */
.contact .head_title hr { border-color: #000 }
.main_contact_detail {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    word-spacing: 3px;
    padding: 30px 0px 20px 0px;
}

.main_contact_info { height: 150px }
.main_contact_info span { font-size: 35px }
.main_contact_info b {
    font-size: 12px;
    text-transform: uppercase;
}

.main_contact_form  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.main_contact_form  .form:hover{
    border:1px solid #f1c40c;
  }

.main_contact_form .form:focus{
    color: white;
    outline: none;
    border:1px solid #f1c40c;
}

.main_contact_form .textarea{
    background-color: transparent;
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}

.main_contact_form #contact-us input {
    background-color: transparent;
    position: relative;
    z-index: 9999;
}

.main_contact .btn-solven {
    position: absolute;
}

/* image responsive */
.image_responsive img.img-responsive {
    position: relative;
    bottom: -110px;
    display: inline-block;
    width: 80%;
}

/* Google Map */
.map {
    position: relative;
    width: 100%;
    height: 8em;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#my-map {
    height: 100%;
    height: 30em;
}

.show-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.25em 0;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c40c;
    z-index: 2;
    cursor: pointer;
}

.show-map span,
.show-map i {
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    display: block;
    color: #ffffff;
}

.opened {
    height: 30em;
}

.opened .show-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: table;
    text-align: center;
    z-index: 2;
}


/* footer */
.footer {
    background: #262626 scroll ;
    color: #fff;
    position: relative;
}

.main_footer { padding: 50px 0px }

.logo_footer {
    font-size: 8em;
    color: #fff;
}

.logo_footer p { font-size: 20px }
.social_footer { 
    text-align: center;
    padding: 30px 0px;
}
.social_footer li { 
    display: inline-block;
    padding: 0px 8px;
}
.social_footer li a {
    font-size: 20px;
    background: #707070;
    border-radius: 50px;
    padding: 2px 9px;
    color: #262626;
}

.social_footer li a:hover {
    background: #fc1;
    color: #000;
}

/* RESPONSIVE WEBSITE TO MOBILE */
@media screen and ( width: 1024px ) {
    .icon {
        position: relative;
        top: 50px;
        left: 55px;
    }
}

@media screen and ( max-width: 768px ) {
    .main_home_content h1 { font-size: 4rem }
    .navbar .navbar-collapse .navbar-nav li a { padding: 15px 7px }
    .head_title hr { width: 5rem }
    .service .icon { position: relative; top: 50px; left: 115px }
    .main_contact_detail { word-spacing: 5px; padding: 30px 20px 20px 20px;
    }
    .main_contact_detail br{ display: none }
    .chart { display: inline-block;position: relative; left: 0px}
    .main_work img { width: 100% }
    .main_work .work_title_content { padding: 135px 68px}
    .icon { left: 145px }
    .service:hover h4 { top: 22px; margin-bottom: 15px }
    .service:hover p { position: relative; top: 30px }
    .services .head_title p { padding: 0 9px }
}

@media screen and ( width : 425px ) {
    .service .icon { position: relative;left: 140px }
    .main_work .work_title_content { padding: 155px 89px }
    .image_responsive img.img-responsive { position: relative;top: 50px; bottom: 0; width: 100%;}
}

@media screen and ( width : 375px ) {
    .main_work .work_title_content { padding: 115px 68px }
    .image_responsive img.img-responsive { width: 300%; position: relative; top: 60px; bottom: 0;}
}

@media screen and ( width : 320px ) {
    .image_responsive img.img-responsive { position: relative; top: 60px; bottom: 0px; display: inline-block; width: 100% }
}