<section id="skill" class="skill">
  <div class="bg_overlay">
      <div class="container">
          <div class="row">
              <div class="main_skill text-center">
                  <div class="head_title text-center">
                      <span class="fa fa-caret-down fa-4x"></span>
                      <h2>OUR SKILL</h2>
                      <p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Proin eget tortor risusuisque velit nisi<br>pretium ut lacinia in, elementum</p>
                  </div>
              </div>
              <div class="main_skill_area text-center">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="chart" id="bar1" data-percent="75"><span>75%</span><canvas height="175" width="175"></canvas></div>
                      <h2>HTML5</h2>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="chart" id="bar2" data-percent="75"><span>75%</span><canvas height="175" width="175"></canvas></div>
                      <h2>CSS3</h2>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="chart" id="bar3" data-percent="75"><span>75%</span><canvas height="175" width="175"></canvas></div>
                      <h2>JAVASCRIPT</h2>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="chart" id="bar4" data-percent="75"><span>75%</span><canvas height="175" width="175"></canvas></div>
                      <h2>WORDPRESS</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
