<section id="author" class="author">
  <div class="container">
      <div class="row text-center">
          <div class="head_title text-center">
              <i class="fa fa-caret-down fa-4x"></i>
              <h2>STUNNING DESIGN & GREAT FUNCTIONALITY</h2>
              <p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Proin eget tortor risusuisque velit nisi<br>pretium ut lacinia in, elementum</p>
              <hr/>
              <br>
              <a href="#" class="btn-sloven">Our Work</a>
          </div>
          <img src="assets/images/responsiveweb.png" class="img-responsive">
      </div>
  </div>
</section><!-- End author section -->
