<section id="services" class="services">
  <div class="container">
      <div class="row">
          <div class="head_title text-center">
              <h2>WHY CHOOSE US</h2>
              <p>WE OFFER CREATIVE SOLUTIONS FOR EVERY WEBSITE</p>
              <hr/>
          </div>

          <div class="col-md-4 col-sm-6 services_content">
              <h6><span data-icon="&#xe00e;"></span> CLEAN AND CREATIVE DESIGN</h6>

              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia</p>
          </div>
          <div class="col-md-4 col-sm-6 services_content">
              <h6><span data-icon="&#xe022;"></span>DRAG AND DROP PAGE BUILDER</h6>

              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia</p>
          </div>
          <div class="col-md-4 col-sm-6 services_content">
              <h6><span data-icon="&#xe003;"></span> BUILT IN MEGAMENU</h6>

              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia</p>
          </div>
          <div class="col-md-4 col-sm-6 services_content">
              <h6><span data-icon="&#xe035;"></span> ADVANCE ADMIN PANEL</h6>

              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia</p>
          </div>
          <div class="col-md-4 col-sm-6 services_content">
              <h6><span data-icon="&#xe027;"></span> 24/7 PREMIUM SUPPORT</h6>

              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia</p>
          </div>
          <div class="col-md-4 col-sm-6 services_content">
              <h6><span data-icon="&#xe00a;"></span> POWERFUL & FLEXIBLE FRAMEWORK</h6>

              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia</p>
          </div>
      </div>
  </div>
</section><!-- End services section -->
