<div class="waypoint">
  <div class="container">
      <div class="row">
          <div class="main_counter_area text-center wow fadeInUp" data-wow-duration="2s">
              <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="content_counter">
                      <h2 data-icon="&#xe01c;"><span class="counter">23</span></h2>
                      <p>PROJECT COMPLETE</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="content_counter">
                      <h2 data-icon="&#xe021;"><span class="counter">5</span></h2>
                      <p>CLIENT WORKED WITH</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="content_counter">
                      <h2 data-icon="&#xe105;"><span class="counter">3</span></h2>
                      <p>CUPS OF COFFEE CONSUMED</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="content_counter">
                      <h2 data-icon="&#xe0f6;"><span class="counter">35</span></h2>
                      <p>ANSWERED QUESTION</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!-- End Waypoints -->
