<section id="blog" class="blog">
  <div class="container">
      <div class="row">
          <div class="head_title text-center">
              <h2>FROM OUR BLOG</h2>
              <p>PROIN EGET TORTOR RISUS CURABITUR ARCU ERA</p>
              <hr/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_blog_post wow fadeIn">
                  <div class="date_blog text-center col-">
                      <p>07</p>
                      <hr>
                      <p>MAY</p>
                  </div>
                  <div class="single_blog_image">
                      <a href="#"><img class="img-responsive" src="assets/images/blog-1.jpg" alt="" /></a>
                  </div>
                  <div class="single_blog_title">
                      <a href="#"><h4>A BEAUTIFUL VIEW</h4></a>
                      <ul>
                          <li>NOVEMBER 21, 2013</li> &nbsp; | &nbsp;
                          <li>4 COMMENTS</li> | &nbsp;
                          <li><i class="fa fa-heart"></i> 60</li>
                      </ul>
                  </div>
                  <div class="single_blog_content">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                  </div>
                  <div class="single_blog_share">
                      <div class="blog_readmore pull-left">
                          <a href="#" class="btn-sloven">Read More</a>
                      </div>
                  </div>
              </div>
          </div>

         <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single_blog_post wow fadeIn">
                   <div class="date_blog text-center">
                      <p>07</p>
                      <hr>
                      <p>MAY</p>
                  </div>
                  <div class="single_blog_image">
                      <a href="#"><img class="img-responsive" src="assets/images/blog-2.jpg" alt="" /></a>
                  </div>
                  <div class="single_blog_title">
                      <a href="#"><h4>A BEAUTIFUL VIEW</h4></a>
                      <ul>
                          <li>NOVEMBER 21, 2013</li> &nbsp; | &nbsp;
                          <li>4 COMMENTS</li> | &nbsp;
                          <li><i class="fa fa-heart"></i> 60</li>
                      </ul>
                  </div>
                  <div class="single_blog_content">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                  </div>
                  <div class="single_blog_share">
                      <div class="blog_readmore pull-left">
                          <a href="#" class="btn-sloven">Read More</a>
                      </div>
                  </div>
              </div>
          </div>

         <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="single_blog_post wow fadeIn">
                   <div class="date_blog text-center">
                      <p>07</p>
                      <hr>
                      <p>MAY</p>
                  </div>
                  <div class="single_blog_image">
                      <a href="#"><img class="img-responsive" src="assets/images/blog-3.jpg" alt="" /></a>
                  </div>
                  <div class="single_blog_title">
                      <a href="#"><h4>A BEAUTIFUL VIEW</h4></a>
                      <ul>
                          <li>NOVEMBER 21, 2013</li> &nbsp; | &nbsp;
                          <li>4 COMMENTS</li> &nbsp; | &nbsp;
                          <li><i class="fa fa-heart"></i> 60</li>
                      </ul>                            </div>
                  <div class="single_blog_content">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                  </div>
                  <div class="blog_readmore pull-left">
                      <a href="#" class="btn-sloven">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section><!-- End blog section -->
