<section id="team" class="team">
  <div class="container">
      <div class="row text-center">
          <div class="head_title text-center">
              <h2>OUR CRAZY TEAM</h2>
              <p>Typi non habent claritatem insitam est usus legentis in iis quin</p>
              <hr/>
          </div>

          <div class="col-md-3 col-sm-6">
              <div class="single_team">
                  <div class="img_wrap">
                      <img src="assets/images/team4.png" class="img-responsive" alt="">
                      <div class="social_link">
                          <div class="social_table">
                              <ul class="list-inline">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <h3>John Haris</h3>
                  <p>Designer</p>
              </div>
          </div><!-- END COL -->
          <div class="col-md-3 col-sm-6">
              <div class="single_team">
                  <div class="img_wrap">
                      <img src="assets/images/team3.png" class="img-responsive" alt="">
                      <div class="social_link">
                          <div class="social_table">
                              <ul class="list-inline">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <h3>John Haris</h3>
                  <p>Designer</p>
              </div>
          </div><!-- END COL -->
          <div class="col-md-3 col-sm-6">
              <div class="single_team">
                  <div class="img_wrap">
                      <img src="assets/images/team2.png" class="img-responsive" alt="">
                      <div class="social_link">
                          <div class="social_table">
                              <ul class="list-inline">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <h3>John Haris</h3>
                  <p>Designer</p>
              </div>
          </div><!-- END COL -->
          <div class="col-md-3 col-sm-6">
              <div class="single_team">
                  <div class="img_wrap">
                      <img src="assets/images/team1.png" class="img-responsive" alt="">
                      <div class="social_link">
                          <div class="social_table">
                              <ul class="list-inline">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <h3>John Haris</h3>
                  <p>Designer</p>
              </div>
          </div>
      </div>
  </div>
</section><!-- End team section -->
