<div id="home" class="home">
  <div class="bg_overlay">
      <div class="container">
          <div class="row">
              <div class="main_home text-center">
                  <div class="col-md-12">
                      <div class="main_home_content wow zoomIn" data-wow-duration="2s">
                          <i class="fa fa-gg"></i>
                          <p>BUILDING BRANDS ON THE WEB</p>
                          <hr/>
                          <h1>WE ARE SLOVEN</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> <!-- End Slider Section -->
